[user]
    name = hongliang
    email = 513918845@qq.com
	signingkey = 0DBFF7F9FD3ADB62
[alias]
    st = status
    ci = commit -avS --signoff
    ck = checkout
    co = clone
    df = diff
    pl = pull
    ph = push
    br = branch
    mg = merge
    lg = log --stat --color
    sh = show --color
    sa = stash
    phm = push origin main
    plm = pull origin main
    rebase = rebase --exec 'git commit --amend --no-edit -n -S'
    cis = commit --amend --no-edit -n -S --signoff
	d = difftool
[diff]
    algorithm = patience
	tool = vimdiff
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool]
	prompt = false
[safe]
	directory = *
[init]
	defaultBranch = main
